# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
.env

# Environment variables
# ✅ “I am providing a .env file on GitHub for easy download and testing.”


#stystem files
.qodo

# OS files
.DS_Store
Thumbs.db